
.flip-container {
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -o-perspective: 1000px;
  perspective: 1000px;
}
.flip-container.hover .flipper {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}
.flip-container,
.front,
.back {
  width: 140px;
  height: 70px;
  border-radius: 8px;
}
.flipper {
  -webkit-transition: 0.3s;
  -webkit-transform-style: preserve-3d;
  -moz-transition: 0.3s;
  -moz-transform-style: preserve-3d;
  -o-transition: 0.3s;
  -o-transform-style: preserve-3d;
  transition: 0.3s;
  transform-style: preserve-3d;

  position: relative;
}
.front,
.back {
  border: 1px solid black;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  
  position: absolute;
  top: 0;
  left: 0;
}
.front {
  z-index: 2;
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.front img{
  border-radius: 6px;
}
.back {
  background-color: white;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  background-color: white;
}