.game_container{
	width: 1300px;
	margin: auto;
	position: relative;
	padding: 5px;
    background-image: url("../img/bg-img/background-01.png");
    border: 1px solid black;
}
.customPanel{
	float: left;
}
.stepPanel{
	margin-top: 10px;
	padding: 10px;
	width: 370px;
}
.curUsersPanel{
	width: 150px;
}
.stepPanel p{
	padding: 0px;
	margin: 0px;
}
.stepPanel h3{
	margin: 8px;
}
.myName{
	color: red;
	font-size: 2em;
	width: 63%;
	text-align: center;
	float: left;
}
.customList{
	width: 100%;
	border: 1px solid black;
	overflow: auto;
	min-height: 130px;
	font-size: 1.5em;
}
.boardPanel{
	width: 800px;
	margin-left: 120px;
	margin-right: 100px;
}
.dice_board{
	position: absolute;
	left: 330px;
    top: 225px;
	background-color: white;
	opacity: 0.8;
	border-radius: 10px;
	padding: 5px;
}
.dice_container{
	width: 100px;
	float: left;
}
.dice_container p{
	text-align: center;
	margin-top: 20px;
	width: 100%;
}
.dice_number_container, .dice_Next_Container{
	margin-left: 30px;
	float: left;
}
.dice_number{
	font-size: 89px;
	border: 2px solid gray;
	font-weight: bold;
	font-style: italic;
	width: 96px;
	height: 96px;
	line-height: 96px;
	text-align: center;
	background-color: white;
}
.dice_Btn{
	margin: auto;
	width: 80px;
	height: 80px;
	line-height: 80px;
}
.action_Btn{
	background-color: #DF633B;
	color: white;
	font-weight: bold;
	text-align: center;
	border-radius: 50%;
	font-style: italic;
	font-size: x-large;
	cursor: pointer;
}
.game_board{
	width: 600px;
	height: 600px;
}
.cardTable{
	margin-top: 100px;
}
.cardTable td {
	padding: 5px;
	min-width: 140px;
	min-height: 70px;
	width: 140px;
	height: 70px;
}
.carContainer{
	position: absolute;
	font-size: 3em;
}
.flip-container .flipper .front, #cardContainer0 .flipper .front, #cardContainer18 .flipper .front{
	color: white;
	font-size: 3em;
	text-align: center;
	line-height: 70px;
}
.DisplayNone{
	display: none;
}
.DisplayBlock{
	display: block;
}
.HideItem{
	visibility: hidden;
}
.ShowItem{
	visibility: visible;
}
#player1 .playerImage, #player_prog1 .playerImage{
	background-image: url("../img/birds/birds-01.png");
}
#player2 .playerImage, #player_prog2 .playerImage{
	background-image: url("../img/birds/birds-02.png");
}
#player3 .playerImage, #player_prog3 .playerImage{
	background-image: url("../img/birds/birds-03.png");
}
#player4 .playerImage, #player_prog4 .playerImage{
	background-image: url("../img/birds/birds-04.png");
}
.playerImage{
	width: 50px;
	height: 50px;
	background-size: contain;
}
.playerName{
	position: absolute;
	padding: 0px;
	margin: auto;
	text-align: center;
	font-size: 15px;
	background-color: white;
	opacity: 0.8;
	width: 48px;
	border-radius: 10px;
}
.carBody{
	position: absolute;
	display: none;
}
.car_path{
}
.action_YourTurn p, .action_Congrates p{
	font-size: 5em;
	text-shadow: 3px 3px 0px #34616b;
	display: none;
}
.action_YourTurn, .action_Congrates{
	margin: auto;
	width: 1300px;
	position: absolute;
	top: 0;
	line-height: 630px;
	text-align: center;
}
.curUsersPanel p{
	padding: 5px;
	margin: auto;
}
.start_Btn{
	width: 75px;
	height: 40px;
	line-height: 40px;
	margin-left: 5px;
	font-size: 1.5em;
	margin-top: 10px;
	border-radius: 10px
}
.exit_Btn{
	width: 55px;
	height: 40px;
	line-height: 40px;
	margin-top: 10px;
	margin-left: 15px;
	font-size: 1.5em;
	border-radius: 10px;
}

.answerPanel{
	position: absolute;
	top: 315px;
	left: 450px;
	width: 360px;
	height: 200px;
	border-radius: 20px;
	background-color: white;
	opacity: 0.8;
	font-size: 1em;
	text-align: center;
	padding-top: 5px;
	margin-top: 10px;
}
.answerPanel h3{
	margin: auto;
}
.onesAnswer{
	position: absolute;
	margin-left: 475px;
	margin-top: 220px;
	border-radius: 10px;
	background-color: white;
	opacity: 0.8;
	width: 305px;
	height: 95px;
}
.onesTurn{
	font-size: 2em;
	text-align: center;
}
.onesAnswer p{
	margin-top: 0px;
}
#myAnswer{
	font-size: 1.1em;
	width: 95%;
	height: 30px;
	margin-left: 5px;
	border-style: solid;
}
.answerList{
	margin: 10px;
	border: 1px solid black;
	overflow: auto;
	height: 150px;
	text-align: left;
	padding-left: 10px;
}
.answerList p{
	margin: 0px;
}

.dice_Next_Container{
	position: absolute;
	margin-left: 820px;
	margin-top: 220px;
	background-color: white;
	opacity: 0.8;
	padding: 10px;
	border-radius: 20px;
}

.btnGo{
	width: 120px;
	height: 40px;
	line-height: 40px;
	margin-left: 15px;
	font-size: 1.5em;
	border-radius: 10px;
	margin-top: 5px;
}
p{
	margin-bottom: 0px;
}
.stepLeftPanel, .stepRightPanel{
	float: left;
	width: 155px;
	margin-right: 10px;
	background-color: white;
	border-radius: 10px;
	opacity: 0.8;
	padding: 10px;
}
#topicList{
	height: 300px;
}
.ok_Btn{
	border-radius: 10px;
	float: left;
	width: 30%;
	text-align: center;
	font-size: 2em;
	margin-left: 5px;
	margin-top: 3px;
}
#yourName{
	margin-left: 10px;
	color: red;
}
.ani-gif-star{
	position: absolute;
	top: 700px;
	left: 1140px;
	width: 100px;
	height: 100px;
}
.ani-gif-star img, .ani-gif-conb img{
	width: 100%;
	height: 100%;
}
.ani-gif-cong{
	position: absolute;
	top: 570px;
	left: 995px;
}
.progressBar{
	width: 70%;
	margin: auto;
	height: 10px;
	border-bottom: 8px solid red;
	margin-top: 100px;
	margin-bottom: 25px;
}
.pBarCell{
	border-left: 4px solid red;
	width: calc(100% / 59);
	height: 9px;
}
.progressBar table{
	width: 100%;
}